dataGenerationParallelism: 5
dataScalesGb:
- 1
dsdgenWorkLocalDir: /tmp/tpcds_work_dir
generateData: true
hadoop:
  hadoopConfDirs: []
  hadoopConf: {}
  filesystems:
    local:
      type: simple
      baseUri: file:///tmp/spark-benchmark
    hdfs:
      type: simple
      baseUri: hdfs://spark-benchmark
    s3a:
      type: s3a
      baseUri: s3a://MY_S3_BUCKET/spark-benchmark
      accessKey: MY_ACCESS_KEY
      secretKey: MY_SECRET_KEY
    azure:
      type: azure
      accountName: MY_ACCOUNT_NAME
      accessKey: MY_ACCESS_KEY
  defaultFilesystem: local
overwriteData: false
spark:
  #executorCores: 1
  #executorInstances: 8
  #executorMemory: 1g
  #master: yarn
  master: local[4]
  sparkConf:
    spark.yarn.jars: service/lib/*
    spark.sql.adaptive.enabled: true
testDataDir: test_data
iterations: 1
#excludeSqlQueries: false
