dataGenerationParallelism: 5
dataScalesGb:
- 1
dsdgenWorkLocalDir: /tmp/tpcds_work_dir
generateData: true
hadoop:
  hadoopConfDirs: []
  hadoopConf:


overwriteData: false
spark:
  #executorCores: 1
  #executorInstances: 8
  #executorMemory: 1g
  #master: yarn
  master: local[4]
  sparkConf:
    spark.yarn.jars: service/lib/*
#testDataDir: hdfs://localhost:8020/data/tpcds/test_data
testDataDir: file:///tmp/hdfs/data/tpcds/test_data
iterations: 1
#excludeSqlQueries: false
